<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio existe, no reescribas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Envíalo a index.php
    RewriteRule ^ index.php [L,QSA]
</IfModule>
